


.block-item {
    flex: 1;
    display: block;
    height: 100%;
    width: 100%;
  }
  .popup {
    resize: both;
     display: flex;
    flex-direction: row;
    height: 100vh;
    width: 90%;
    background-color: lightgray;
    gap: 10px;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    min-height: 150px;
    max-height: 500px;
     position: absolute;
    /*resize: both; !*enable this to css resize*! */
    overflow: hidden;
  
  }
  
  /*Drgable */
  
  
  
  
  /*Resizeable*/
  
  .popup .resizer-right {
    width: 5px;
    height: 100%;
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: e-resize;
  }
  
  .popup .resizer-bottom {
    width: 100%;
    height: 5px;
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: n-resize;
  }
  
  .popup .resizer-both {
    width: 5px;
    height: 5px;
    background: transparent;
    z-index: 10;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: nw-resize;
  }
  

  
  .popup * {
    -webkit-touch-callout: inherit; /* iOS Safari */
    -webkit-user-select: inherit; /* Safari */
    -khtml-user-select: inherit; /* Konqueror HTML */
    -moz-user-select: inherit; /* Firefox */
    -ms-user-select: inherit; /* Internet Explorer/Edge */
    user-select: inherit; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
  